footer {
    padding: 50px 0;

}

.footer__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__col {
    width: 20%;
    text-align: center;
}

/* .footer__logo {
    width: 86px;
    height: 47px;
} */

.footer__icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer__icons img {
    width: 25px;
    height: 25px;
}

.footer__icons a img {
    width: 25px;
    height: 25px;
    transition: transform 0.2s;
}

.footer__icons a:hover img,
.footer__icons a:active img {
    transform: scale(1.2);
}

.footer__col {
    color: black;
}

.footer__col p {
    margin-bottom: 0;
}

.footer__col a {
    color: white;
    text-decoration: none;
}

.footer__colContacts {
    line-height: 2.5;
    font-size: 18px;
    font-weight: 500;
}

.footer__colContacts p {
    color: #172E28;
}

.footer__colContacts a {
    color: #172E28;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

.footer__colContacts a:hover,
.footer__colContacts a:active {
    color: #427b28;
}

.itc__wrap {
    margin-top: 30px;
}

.itc {
    width: 100px;
}

@media (max-width: 992px) {
    .footer__colContacts {
        width: 30%;
    }
}

@media (max-width: 768px) {
    #footer .container {
        width: 90%;
    }

    .footer__colContacts {
        width: 50%;
    }

    .footer__colContacts1 {
        width: 30%;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .footer__colContacts {
        width: 100%;
    }

    .footer__colContacts a,
    .footer__colContacts p {
        font-size: 23px;
    }

    .footer__colContacts1 {
        width: 100%;
        text-align: center;
        margin: 20px 40px;
    }

    .footer__icons {
        justify-content: space-evenly;
    }

    .footer__icons a img {
        width: 35px;
        height: 35px;
    }

    .footer__logo img {
        width: 120px;
        margin-bottom: 20px;
    }
}